<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property file="${user.dir}/src/main/resources/config/logback-slack.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight([%-5p]) %boldMagenta([%F]%M\(%L\)]) : %m%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${webhookUri}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>*%-4relative [%thread] %-5level %class* - %msg%n</pattern>
        </layout>
        <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
    </appender>

    <springProfile name="local">
        <root>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root>
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_SLACK"/>
        </root>
    </springProfile>

</configuration>